<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/2.7、编写一个Java 程序，定义一个长度为5的整型数组，要求用户从键盘中为每个元素输入一个整数，然后输出每个数组元素的内容，再输出数组中最大整数值和最小的整数值。/src/home.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="home"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="2.7、编写一个Java 程序，定义一个长度为5的整型数组，要求用户从键盘中为每个元素输入一个整数，然后输出每个数组元素的内容，再输出数组中最大整数值和最小的整数值。"/>
</launchConfiguration>
