<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/2、编写一个Java程序，在程序中定义一个自己的数学类MyMath类，类中提供方法max,返回其中的最大值。/src/TestMyMath.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TestMyMath"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="2、编写一个Java程序，在程序中定义一个自己的数学类MyMath类，类中提供方法max,返回其中的最大值。"/>
</launchConfiguration>
